.report-link {
  align-self: stretch;
  border-bottom: 3px solid transparent;
  display: flex;
  align-items: center;
}

.report-link.active {
  background-color: rgba(255, 255, 255, .2);
  border-bottom-color: var(--bs-white);
  font-weight: 600;
  padding-inline: .65rem;
}

.role-permission-table {
  table-layout: fixed;
  width: 100%;
}

.role-permission-table th,
.role-permission-table td {
  width: 50%;
  text-align: center;
  vertical-align: middle;
}
