@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'datatables.net-bs5/css/dataTables.bootstrap5.css';

body {
  background: var(--bs-body-bg);
}
@media (min-width: 992px) {
  html:has(app-wg-report), body:has(app-wg-report) {
    overflow: hidden;
  }
}
* {
  scrollbar-color: var(--bs-secondary-color) var(--bs-tertiary-bg);
  scrollbar-width: thin;
}
[data-bs-theme='dark'] .swal2-popup {
  background: var(--bs-dark);
  color: var(--bs-light);
}
